* {
  box-sizing: border-box;
  border: 1px solid black;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
}

.about_me_first {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  place-items: center;
  height: 75%;
  width: 80%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
}

.about_me_second {
  visibility: collapse;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  place-items: center;
  height: 75%;
  width: 80%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.first_tiles {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.second_tiles {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
